/vs2005
/vs2010
*.ncb
*.suo
*.user
bin
tmp
Debug
Debug_*
*_Debug
Release
Release_*
*_release
release_mt
*UpgradeLog*xml
*_UpgradeReport_Files*
*.sln.old
*.opensdf
*.sdf
*.suo.old
ipch/
*.cache
/dx5sdk
mruby
utf8proc-v1.1.5