*.d
*.ao
*.o
*.obj
*.1
*.8
*.exe
*.lib
*.pdb
*/*/lib/*
*/*/lib64/*
*pkgdataMakefile*
source/common/svchook.mk
source/Makefile
source/configure.lineno
source/*/Makefile
source/*/*/Makefile
source/*/*/*/Makefile
source/config.*
source/config/
source/data/build-dir
source/data/build-local
source/data/icupkg.inc
source/data/packagedata
source/icudefs.mk
source/data/out/
source/extra/uconv/

